.CheckoutSummary {
  text-align: center;
  margin: auto;
  width: 80%;
}

.BurgerStyle {
  width: 300px;
  height: 300px;
  margin: auto;
}

@media (min-width: 600ps) {
  .CheckoutSummary {
    width: 500px;
  }
}
